# HTTPS redirect
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# HTTP redirect
# RewriteEngine On
# RewriteCond %{HTTPS} on
# RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# WWW to non-WWW
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Restrict access to poweron subdirectory
RewriteCond %{REQUEST_URI} ^/poweron/
RewriteRule (.*) - [R=404,L]

# Restrict access to sandbox subdirectory
RewriteCond %{REQUEST_URI} ^/sandbox/
RewriteRule (.*) - [R=404,L]
